*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-name{
    font-size: 24px;
    font-weight: bold;
}
nav{
    background: #F1F3FF;
}
.logo{
    background: #0D28A6;
    width: 100px;
    height: 34px;
    justify-content: center;
    margin-left: 70px;
}
.navbar{
    background: #F1F3FF;
    padding: 20px;
}
.nav-menu{
    margin-left: 670px;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.btn-register{
    background-color: #5CB85F;
}
.content{
    /* background-color: firebrick; */
    padding-top: 70px;
}
.top-content{
    /* background-color: aquamarine; */
}
.description{
    background: #F1F3FF;
    padding: 100px;
}
.description .btn{
    background-color: #5CB85F;
}
.description p{
    text-align: justify;
    width: 85%;
}
.car_image{
    background: #F1F3FF;
}
.car_image img{
    position: absolute;
    width: 704px;
    height: 430px;
    right: 0%;
}
.our-service{
    /* background-color: bisque; */
}
.our-service .woman-img{
    align-items: flex-end;
    padding: 30px;
    margin-left: 35%;
    padding-top: 100px;
}
.our-service .check-img{
    margin-right: 10px;
}
.our-service .service-content{
    padding: 100px;
    left: 0px;
    top: 0px;
}
.why_us{
    /* background-color: blue; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.why_us .whyus-content{
    margin-left: 100px;
}
.why_us .benefit{
    justify-content: center;
    gap: 50px;
}
.why_us img{
    width: 32px;
    height: 32px;
    left: 24px;
    top: 24px;
    margin-bottom: 10px;
}
.whyus-title{
    font-weight: bold;
}
.testimonial{
    /* background-color: yellow; */
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.testimonial .testimonial-content{
    text-align: center;
}
.testimonial .photo{
    margin-top: 50px;
}
.testimonial .profile-name{
    font-weight: bold;
}
.carousel-inner{
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: 750px;
    justify-content: center;
    align-items: center;
}
.carousel-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.carousel-control{
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
.carousel-control:hover{
    background: #5CB85F;
}
.tombol-crsl {
    width: 15px;
    height: 15px;
}

.rent-car{
    padding: 100px;
    color: white;
}
.rent-car .rent-card{
    background-color: #0D28A6;
    text-align: center;
    padding: 120px;
} 
.faq .faq-content{
    padding-left: 100px;
    padding-top: 40px;
}
.faq .faq-question{
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
}
/* .faq-question p{
    width: 500px;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
} */
.faq-question img{
    justify-items: flex-end;
}
.accordion-item{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    padding-top: 20px;
    /* background-color: green; */
    padding-left: 100px;
    padding-right: 100px;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer img{
    margin-right: 10px;
}